<section id="login">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">
	            <div class="wrap">
	                <p class="form-title">sign. in.</p>
	                <form class="login">
						<input type="text" placeholder="email" />
						<input type="password" placeholder="password" />
						<input type="submit" value="Sign In" class="btn btn-danger" />
	                </form>
	            </div>
	        </div>
	    </div> 
	</div>
</section>

<style>
.form-title {
	font-size: 140px;
}
.wrap {
	width: 100%;
	text-align: center;
}
</style>